*{
	margin:0;
	padding: 0;
}

.section{
	width: 100%;
	background-color: red;
}

.parent{
	width: 80%;
	background-color: blue;
margin: 0 auto;
}

.row{
	width: 32%;
	height: 300px;
	background-color: green;
	display: inline-block;
	margin: 5px;
}

.row p{
	color: white;
    font-size: 20px;
font-family: 'Syne Mono', monospace;
text-align: center;

}

img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

@media only screen and (max-width: 1200px){
.parent{	 display: grid;
  grid-template-columns: auto auto ;
  background-color: #2196F3;
  padding: 20px;
   grid-column-gap: 50px;
     grid-row-gap: 50px;
}

.row{
	width: 100%;
}

@media only screen and (max-width:685px){
	.parent{	 display: grid;
  grid-template-columns: auto  ;
  background-color: #2196F3;
  padding: 20px;
}

.row{
	width: 100%;
}

}
}